.option {
  background-color: var(--bagroundOption);
  padding: 75px 0px;
}

.option__title {
  padding-bottom: 40px;
}

.option__title h2 {
  font-size: var(--h2TitleSize);
  color: var(--blackoption);
  text-align: center;
  font-weight: 500;
}

.option__title h2 span {
  color: var(--telegramcolortext);
}

.option__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 15px;
  align-items: center;
}

.option__item__items__number {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(46.15deg, #000000 15.89%, #434343 171.16%),
  linear-gradient(219.58deg, #010417 10.26%, #2b333f 84.25%);
  color: var(--textWhite);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
}

.option__items__item h3 {
  font-size: var(--paragarafSize);
  font-weight: 500;
  letter-spacing: 0.1px;
  padding-bottom: 10px;
}

.option__items__item p {
  font-size: var(--sizetitle);
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1px;
  padding-bottom: 10px;
}

.option__items__item__ul {
  display: block;
}

.option__items__item__ul__li {
  padding: 4px 0px;
  color: var(--tiltleColorDark);
}

.option__items__item__ul__li a {
  color: var(--telegramcolortext);
  cursor: pointer;
}

.option__items__item__span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--telegramcolortext);
}


.option__2{
  padding-left: 100px;
}

.option__items__message {
  background: linear-gradient(297.24deg, #8ec5fc 8.25%, #e0c3fc 91.76%);
  border-radius: 40px;
  padding: 90px;
}

.message {
  padding: 10px;
  background-color: var(--textWhite);
  border-radius: 16.78px 16.78px 7.83px 7.83px;
  position: relative;
}

.message p {
  max-width: 400px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 15px;
}

.message h6 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: var(--darkTimeColor);
}

.message__button {
  width: 100%;
  padding: 7px 0px;
}

.message__button__btn {
  width: 100%;
  font-size: 19px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  padding: 15.02px 0px 15.02px 0px;
  border-radius: 7.83px 7.83px 16.78px 16.78px;
  border: none;
  color: var(--textWhite);
  background-color: #8198d1;
}

.option__items__message__json{
    background: linear-gradient(206.52deg, #FCB69F 6.91%, #FFECD2 92.45%);
    padding: 180px 100px;
    border-radius: 40px;    
}

.jsonblue__option{
    background-color: var(--tiltleColorDark);
    padding: 20px;
    border-radius: 20px;
}

.jsonblue__option p{
    color: var(--textWhite);
    font-weight: 400;
    line-height: 26px;
    font-size: 18px;
}

.jsonblue__option p span{
    color: var(--telegramcolortext);
}

.jsonblue__option strong{
  color: #FCEF8F;
  font-weight: 400;
}

.option__items__message__json__blue{
  background: linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%);
  padding: 150px 100px;
  border-radius: 40px;   
}

.json__option{
  padding: 20px;
  background-color: var(--tiltleColorDark);
  border-radius: 20px;
}

.json__option p{
  color: var(--textWhite);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.json__option p span{
  color: var(--blueColorCode);
}

.json__option  ul{
  display: block;
  padding: 3px 20px;
  color: var(--textWhite);
} 

.json__option ul li {
  padding: 3px 0px;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: var(--blueColorCode);
  font-weight: 300;
}

.json__option ul li span{
  color: var(--textWhite);
  padding-left: 10px;
}

.option__info__ul{
  display: block;

}

.option__info__ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--tiltleColorDark);
  font-size: var(--sizetitle);
  padding: 4px 0px;
  cursor: pointer;
}
.option__info__ul li a{
  color: var(--blueColorCode);
}
.option__info__ul li span{
  width: 6px ;
  height: 6px;
  background-color: var(--blueColorCode);
  border-radius: 50%;
}